.myd-block{
    display:block;
}

.product-form{
    position: relative;
    z-index:2;
}

.update-form{
    width:50%;
    position:absolute;
    top:10vh;
    z-index:3;
    left:50%;
    transform: translateX(-50%);
    background-color: antiquewhite;
}
.mylayer{
    display:none;
    position:absolute;
    top:0%;
    height:200vh;
    z-index:1;
    width:100%;
    height:200vh;
    background-color:rgba(0, 0, 0, 0.4);
}

.my-align{
    /* display:block; */
    margin-top:4%;
    position:relative;
    background-color:white;
    padding:8px 3px;
    border: 1px solid lightgray;
    left:50%;
    border-radius:6px;
    transform: translateX(-50%);
}