#cart-element {
  position: fixed;
  padding-top: 20px;
  right: -100%;
  width: 400px;
  top: 0;
  height: 100%;
  z-index: 1050; /* Ensure it's above other content */
  background-color: #343a40;
  color: white;
  transition: right 0.3s ease;
}
#cart-element #close-cart-element {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
}
.card-dark {
  background-color: #343a40;
  color: #fff;
}
.btn-dark-mode {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-dark-mode:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.remove-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card-img {
  border-radius: 15px;
  background-color: #fff;
}
.card {
  position: relative;
}
.cart-element {
  position: fixed;
  /* overflow-y: auto; */
}
#cart-list {
  overflow-y: auto;
}


/* .rating-style p{
  padding: 1px 4px;
  border-radius:4px;
}  */

.rating-style i{
    color:gold;
}

.cost-style{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  /* top:3%; */
}
.cost-style p{
  font-size: 1.3em;    
}
.cost-style button{
  padding:8px 16px;
  border-radius: 8px;
  border:none;
  color:white;
}

.my-navbar{
  height:12vh; 
}

.review-styling{
  background-color: rgb(198, 193, 193);
  width:100%;
  margin-left:0 !important;
}

.comment-styling{
  background-color:aliceblue;
  border-radius:8px;
  width:80%;
  padding-left:1%;
}

.product-item-container img{
  width:90%;
  margin:4vh auto;
  height:200px;
}
.product-item-container{
  text-align:center;
  text-align:unset;
  height:570px;
  margin:1vh auto;
}
.product-item{
  width:90%;
  margin: 0 auto;
}


.item-description{
  height:15%;
}

.big-item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-container li {
  cursor: pointer;
  transition: all 0.3s;
}
.list-container li:hover {
  background-color: #3c2e2e;
  color: #fff;
}