doctype html
html
  head
    title Sign In
    link(rel='stylesheet', href='/css/style.css')
  body(class='min-h-screen flex')

    //- Left Side - Image
    div(class='w-1/2 min-h-full bg-cover bg-center' style="background-image: url('/images/category/category-e8d5c27b-71d9-4edb-8796-3537b51b007f.jpeg');")

    //- Right Side - Form
    div(class='w-1/2 flex items-center justify-center bg-white')
      div(class='w-full max-w-md p-8')
        block form
