.product-item-container img{
    width:90%;
    margin:4vh auto;
    height:200px;
}
.product-item-container{
    text-align:center;
    text-align:unset;
    height:570px;
    margin:1vh auto;
}
.product-item{
    width:90%;
    margin: 0 auto;
}


.item-description{
    height:15%;
}

.big-item-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-container li {
    cursor: pointer;
    transition: all 0.3s;
  }
.list-container li:hover {
    background-color: #3c2e2e;
    color: #fff;
  }