.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header-styling {
  background-color: #f3a225;
  height: 11vh;
}

.my-nav div{
  width:5%;
}

.my-nav img{
  width:100%;
}

.second-div{
  background-color: #e5771e;
  height: 9vh;
}
.second-div input{
  margin: 0% 0.3%;
  background-color: #ffecb4;
  padding: 6px 20px;
  border-radius: 14px;
  border: none;
}
.add-btn{
  margin-left:0.3%;
  padding: 6px 20px;
  border:none;
  border-radius: 14px;
  background-color: #79c5ad;
}

.search-container{
  background-color: #5a3d2b;
  height:70vh;
}

.item-styling{
  border-radius: 20px;
  margin: 0% 4%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffecb4;
}

.item-styling button{
  border:none;
  background-color: transparent;
}

.scrollable-container {
  height: 400px; 
  overflow-y: auto;
  width:94%;
  margin: 0 auto;
}

.btn-styling{
  margin-left:1%;
  padding: 6px 24px;
  border:none;
  border-radius: 14px;
  background-color: #ffecb4;
  color:#000;
  transition: none;
}

.btn-styling:hover{
  background-color: #ffecb4 !important;
  color: inherit !important;
}

.footer-styling{
  background-color: #77c7ae;
  height:10vh;
  display:flex;
  align-items: center;
  justify-content: center;
}